/logs/

.idea/

target/

*.iml
/assicurazioni-springboot/src/main/resources/http/requestPolizza.http
/assicurazioni-xsd/src/main/java/META-INF/JAXB/
*.xjb
/assicurazioni-xsd/src/main/java/onyx/classi/generated/
/assicurazioni-springboot/src/main/resources/risultati_csv/
